.badge__container {
  position: relative;
}

.badge {
  border-radius: var(--br-xxxl);
  color: var(--light);
  font-size: vaar(--fs-xs-1);
  padding: var(--pd-xxs);
  position: absolute;
  right: -15px;
  text-align: center;
  top: -10px;
}

.badge__profile {
  border: 2px solid white;
  bottom: 0;
  height: 18px;
  padding: 0px;
  right: 3px;
  top: initial;
  width: 18px;
}

.bdg-primary {
  background-color: var(--primary);
}

.bdg-success {
  background-color: var(--success);
}

.bdg-danger {
  background-color: var(--danger);
}

.bdg-info {
  background-color: var(--info);
  color: var(--dark);
}

.bdg-dark {
  background-color: var(--dark);
}
