.button {
  border: none;
  color: var(--dark);
  cursor: pointer;
  font-size: 1rem;
  padding: 6px 18px;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon > img {
  margin-right: 5px;
}

.btn-premium {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  text-transform: uppercase;
}

.btn-premium:hover {
  background-color: var(--light);
  color: var(--dark);
}

.btn-round {
  border-radius: 100rem;
}

.btn-primary {
  background-color: var(--primary-light);
  border: 1px solid var(--primary);
}

.btn-success {
  background-color: var(--success-light);
  border: 1px solid var(--success);
}

.btn-info {
  background-color: var(--info-light);
  border: 1px solid var(--info);
}

.btn-danger {
  background-color: var(--danger-light);
  border: 1px solid var(--danger);
}

.btn-dark {
  background-color: var(--dark);
  color: var(--light);
}

.btn-light {
  background-color: var(--light);
  border: 1px solid var(--dark);
}

.btn-solid-primary {
  background-color: var(--primary);
  border: 1px solid var(--secondary);
}

.btn-solid-success {
  background-color: var(--success);
  border: 1px solid var(--success-dark);
}

.btn-solid-info {
  background-color: var(--info);
  border: 1px solid var(--info-dark);
}

.btn-solid-danger {
  background-color: var(--danger);
  border: 1px solid var(--danger-dark);
  color: var(--light);
}
