.button {
  background-color: white;
  border-radius: var(--br-xs);
  border: none;
  box-shadow: var(--bs-xs);
  color: var(--dark);
  cursor: pointer;
  font-size: var(--fs-xs-2);
  padding: var(--pd-sm);
}

/* SMALL */
.btn-sm {
  font-size: var(--fs-xs-1);
  padding: var(--pd-xs);
}

/* MEDIUM */
.btn-md {
  font-size: var(--fs-xs-2);
  padding: var(--pd-sm);
}

/* LARGE */
.btn-lg {
  font-size: var(--fs-sm-1);
  padding: var(--pd-md);
}

/* PLAIN */
.btn-plain {
  background-color: initial;
  box-shadow: initial;
}

.btn-primary {
  color: var(--primary);
}

.btn-secondary {
  color: var(--secondary);
}

.btn-danger {
  color: var(--danger);
}

.btn-success {
  color: var(--success);
}

.btn-info {
  color: var(--info);
}

.btn-dark {
  color: var(--dark);
}

/* BUTTON W/ICON */
.btn-w-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon {
  margin-right: var(--space-sm);
}

/* ROUND BUTTON */
.btn-round {
  border-radius: var(--br-xxxl);
}

/* SOCIAL MEDIA */
.btn-socialmedia {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--br-xxxl);
  box-sizing: content-box;
  padding: 1rem;
}

.btn-socialmedia .button__icon {
  margin-right: 0;
}

/* OUTLINE */
.btn-outline-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  box-shadow: none;
}

.btn-outline-secondary {
  border: 2px solid var(--secondary);
  color: var(--secondary);
  box-shadow: none;
}

.btn-outline-danger {
  border: 2px solid var(--danger);
  color: var(--danger);
  box-shadow: none;
}

.btn-outline-success {
  border: 2px solid var(--success);
  color: var(--success);
  box-shadow: none;
}

.btn-outline-info {
  border: 2px solid var(--info);
  color: var(--info);
  box-shadow: none;
}

.btn-outline-dark {
  border: 2px solid var(--dark);
  color: var(--dark);
  box-shadow: none;
}

/* SOLID BUTTONS */
.btn-solid-primary {
  background-color: var(--primary);
  color: white;
}

.btn-solid-secondary {
  background-color: var(--secondary);
  color: white;
}

.btn-solid-danger {
  background-color: var(--danger);
  color: white;
}

.btn-solid-success {
  background-color: var(--success);
  color: white;
}

.btn-solid-info {
  background-color: var(--info);
  color: white;
}

.btn-solid-dark {
  background-color: var(--dark);
  color: white;
}
