.navbar {
  align-items: center;
  background-color: var(--dark);
  box-shadow: var(--bs-sm);
  color: white;
  display: flex;
  padding: var(--pd-sm);
  width: 100%;
  font-size: var(--fs-xs-1);
}

.navbar__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar__btn {
  cursor: pointer;
  padding: var(--pd-xs);
  color: var(--light);
}

.navbar__btn--active {
  color: var(--primary);
}

.navbar__btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--primary);
}

.navbar__btn:nth-child(3) {
  margin-left: auto;
}

.navbar__text {
  margin-left: 15px;
  font-size: 20px;
}

.navbar__search {
  width: min(20%, 200px);
  margin-left: auto;
}

/* W/ICONS */
.nb__icons .navbar__search {
  margin-left: var(--space-sm);
}

.nb__icons .navbar__list {
  margin-left: auto;
}

.nb__icons .navbar__btn:hover {
  border-radius: 100rem;
  color: var(--dark);
}

.nb__icons {
  background-color: var(--primary);
}

.navbar__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark);
}

.navbar__user .profile__img {
  height: 25px;
  width: 25px;
  border-radius: var(--br-xxxl);
  margin-right: var(--space-sm);
}
