/* body > button {
  padding: 0.5rem 1rem;
  width: 200px;
  margin: 10px;
  background-color: white;
  border: 1.5px solid #E0E0E0;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

body > button:hover {
  background-color: inherit;
}

.dialog__container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
}

.dialog {
  flex-direction: column;
  padding: 1.3rem 0.7rem;
  padding-bottom: 0.5rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dialog__title > h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.dialog__title > p {
  font-size: 1rem;
  font-weight: 300;
  color: gray;
}

.dialog__footer {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.dialog__footer > a {
  color: #6200EE;
  font-weight: 500;
  font-size: 0.9rem;
  margin-left: 10px;
  cursor: pointer;
  padding: 0.6rem;
}

.dialog__footer > a:hover {
  background-color: rgba(98, 0, 238, 0.1);
  border-radius: 5px;
}

.alert {
  display: none;  
  position: fixed;
  
} */

/* || SIMPLE */
/* 
.simple {
  display: none;
}

.dialog {
  width: 15rem;  
}

.dialog__title {
  margin-bottom: 20px;
  padding: 0rem 0.8rem;
}

.user_img {
  height: 40px;
  width: 40px;
  border-radius: 100rem;
}

.dialog__content ul {
  list-style: none;
}

.dialog__content li {
  display: flex;
  align-items: center;
  padding: 6px 2px;
  cursor: pointer;
  padding-left: 15px;
}

.dialog__content li:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.dialog__content span {
  margin-left: 15px;
} */

/* || CONFIRMATION */
/* 
.confirmation {
  display: none;
} 

.confirmation ul {
  list-style: none;
}

.confirmation .dialog__footer{
  border-top: 1px solid gray;
} */
