.img__wrapper {
  height: 400px;
  width: 400px;
  position: relative;
}

.img {
  object-fit: cover;
  width: 400px;
}

.img-round {
  height: 400px;
  border-radius: var(--br-xxxl);
}

.img-res {
  width: 100%;
}