.alert {
  align-items: center;
  color: var(--dark);
  display: flex;
  margin: 1rem;
  padding: 1.3rem;
  width: min(500px, 90%);
}

.alert__icon {
  height: 15px;
  width: 15px;
}

.alert__icon--right {
  margin-left: auto;
}

.alert__text {
  margin: 0px 10px;
}

.danger {
  background-color: var(--danger-light);
  border: 2px solid var(--danger);
}

.dark {
  color: var(--light);
  background-color: var(--dark);
  border: 2px solid black;
}

.info {
  background-color: var(--tertiary-light);
  border: 2px solid var(--tertiary); 
}

.primary {
  background-color: var(--primary-light);
  border: 2px solid var(--primary);
}

.success {
  background-color: var(--success-light);
  border: 2px solid var(--success-dark);
}

.warning {
  background-color: var(--info-light);
  border: 2px solid var(--info-dark); 
}
