:root{
  /* THEME COLORS */
  --danger: #FF3860;
  --dark: #263238;
  --warning: #FDE047;
  --light: #E9F3FD;
  --primary: #23A6F0;
  --secondary:  #0F56B3;
  --success: #48C774;

  /* AQUA */
  --aqua-1: #ABFBF2;
  --aqua-2: #4EF6E5;
  --aqua-3: #0CDAC6;
  --aqua-4: #009E8E;
  --aqua-5: #00776A;
  --aqua-6: #004F47;

  /* BLUE */
  --blue-1: #d3efff;
  --blue-2: #8cd5ff;
  --blue-3: #5fc4ff;
  --blue-4: #23A6F0;
  --blue-5: #0F56B3;
  --blue-6: #0A3977;

  /* GREEN */
  --green-1: #C5F2C7;
  --green-2: #8CE590;
  --green-3: #52D858;
  --green-4: #2AB930;
  --green-5: #1F8B24;
  --green-6: #155D18;

  /* GREY */
  --grey-1: #E0E0E0;
  --grey-2: #C0C0C0;
  --grey-3: #A1A1A1;
  --grey-4: #818181;
  --grey-5: #616161;
  --grey-6: #414141;

  /* INDIGO */
  --indigo-1: #C7CDF1;
  --indigo-2: #8E9AE3;
  --indigo-3: #5668D5;
  --indigo-4: #2E41B6;
  --indigo-5: #223189;
  --indigo-6: #17205B;

  /* ORANGE */
  --orange-1: #FBE5C9;
  --orange-2: #F6CA92;
  --orange-3: #F2B05C;
  --orange-4: #ED9526;
  --orange-5: #BF710F;
  --orange-6: #7F4C0A;
  
  /* PINK */
  --pink-1: #FAC1D6;
  --pink-2: #F584AD;
  --pink-3: #F04684;
  --pink-4: #E1125E;
  --pink-5: #A90E46;
  --pink-6: #70092F;

  /* PURPLE */
  --purple-1: #ECB9F9;
  --purple-2: #D972F4;
  --purple-3: #C52CEE;
  --purple-4: #9A0FBF;
  --purple-5: #730C8F;
  --purple-6: #4D085F;

  /* RED */
  --red-1: #FCD0CF;
  --red-2: #FAA09E;
  --red-3: #F7716E;
  --red-4: #F5413D;
  --red-5: #DA100B;
  --red-6: #910B08;

  /* YELLOW */
  --yellow-1: #FBF3D0;
  --yellow-2: #F7E7A1;
  --yellow-3: #F4DB71;
  --yellow-4: #F0D042;
  --yellow-5: #D4B011;
  --yellow-6: #8E750B;

  /* BORDER RADIUS */
  --br-xxxs: 0.2rem;
  --br-xxs: 0.5rem;
  --br-xs: 0.8rem;
  --br-sm: 1.0rem;
  --br-md: 1.5rem;
  --br-lg: 2.0rem;
  --br-xl: 3.5rem;
  --br-xxl: 4.0rem;
  --br-xxxl: 5.0rem;
  --br-full: 9999rem;

  /* BOX SHADOW */
  --bs-xxs: 0 1px 2px 1px rgba(6,10,36,.08);
  --bs-xs: 0 1px 4px 1px rgba(6,10,36,.1),0 5px 10px 0 rgba(6,10,36,.08);
  --bs-sm: 0 8px 15px 1px rgba(6,10,36,.1),0 18px 24px 1px rgba(6,10,36,.12);
  --bs-md: 0 10px 20px 1px rgba(6,10,36,.1),0 24px 36px 1px rgba(6,10,36,.18);
  --bs-lg: 0 10px 30px 1px rgba(6,10,36,.1),0 40px 48px 1px rgba(6,10,36,.25);
  --bs-xl: 0 10px 30px 1px rgba(6,10,36,.1),0 50px 60px 1px rgba(6,10,36,.4);
  --bs-xxl: 0 10px 30px 1px rgba(6,10,36,.1),0 80px 90px 1px rgba(6,10,36,.4);

  /* FONT SIZES */
  --fs-xxxs-1: 0.6rem; 
  --fs-xxxs-2: 0.8rem;
  --fs-xxs-1: 1rem;
  --fs-xxs-2: 1.2rem;
  --fs-xs-1: 1.4rem;
  --fs-xs-2: 1.6rem;
  --fs-sm-1: 1.8rem;
  --fs-sm-2: 2rem;
  --fs-md-1: 2.2rem;
  --fs-md-2: 2.4rem;
  --fs-lg-1: 2.7rem;
  --fs-lg-2: 3rem;
  --fs-xl-1: 3.4rem;
  --fs-xl-2: 3.7rem;
  --fs-xxl-1: 4rem;
  --fs-xxl-2: 4.8rem;
  --fs-xxxl-1: 6rem; 
  --fs-xxxl-2: 9.6rem;
  
  /* FONT WEIGHT */
  --fw-1: 100;
  --fw-2: 200;
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;
  --fw-9: 900;

  /* SCREEN SIZES FOR MEDIA QUERIES */
  --screen-xs: 480px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
  
  /* SPACING */
  --space-xxxs: 0.4rem;
  --space-xxs: 0.8rem;
  --space-xs: 1.2rem;
  --space-sm: 1.6rem;
  --space-md: 2.4rem;
  --space-lg: 3.2rem;
  --space-xl: 4.0rem;
  --space-xxl: 6.4rem;
  --space-xxxl: 12.8rem;

  /* PADDING */
  --pd-xxxs: 0.1rem var(--space-xxxs);
  --pd-xxs: var(--space-xxxs) var(--space-xs); 
  --pd-xs: var(--space-xxs) var(--space-sm);
  --pd-sm: var(--space-xs) var(--space-md);
  --pd-md: var(--space-sm) var(--space-lg);
  --pd-lg: var(--space-md) var(--space-xl);    
  --pd-xl: var(--space-lg) var(--space-xxl);
  --pd-xxl: var(--space-xl) var(--space-xxxl); 
  --pd-xxxl: var(--space-xxl) var(--space-xxxl);
}