.avatar {
  border-radius: var(--br-xxxl);
  height: 60px;
  width: 60px;
}

.avatar--sm {
  height: 40px;
  width: 40px;
}

.avatar--md {
  height: 60px;
  width: 60px;
}

.avatar--lg {
  height: 80px;
  width: 80px;
}

.avatar--square {
  border-radius: var(--br-sm);
}