.avatar {
  border-radius: var(--br-xxxl);
  height: 60px;
  width: 60px;
}

.av-sm {
  height: 40px;
  width: 40px;
}

.av-md {
  height: 60px;
  width: 60px;
}

.av-lg {
  height: 80px;
  width: 80px;
}

.av-square {
  border-radius: var(--br-sm);
}