.chip {
  align-items: center;
  background-color: var(--tertiary-light);
  border-radius: 100rem;
  cursor: default;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  margin: 4px 8px;
  padding: 0.4rem 0.8rem;
  width: fit-content;
}

.chip__icon {
  cursor: pointer;
  margin-left: 5px;
}

.chip:hover {
  background-color: var(--tertiary);
}

.ch--primary {
  background-color: var(--primary);
}

.ch--primary:hover {
  background-color: var(--secondary);
  color: var(--light);
}

.ch--success {
  background-color: var(--success);
}

.ch--success:hover {
  background-color: var(--success-dark);
  color: var(--light);
}

.ch--danger {
  background-color: var(--danger);
  color: var(--light);
}

.ch--danger:hover {
  background-color: var(--danger-dark);
  color: var(--light);
}

.ch--info {
  background-color: var(--info);
}

.ch--info:hover {
  background-color: var(--info-dark);
  color: var(--light);
}

.ch--dark {
  background-color: var(--dark);
  color: var(--light);
}

.ch--dark:hover {
  background-color: var(--tertiary-light);
  color: var(--dark);
}