/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul ,
ol {
  list-style: none;
}

/* Set core root defaults */
html, html:focus-within {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  width: 100vw;
}

/* A elements that don't have a class get default styles */
a {
  color: black;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  block-size: auto;
  display: block;
  max-inline-size: 100%;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
