@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Space+Mono:wght@400;700&family=Staatliches&display=swap');

/* FONT FAMILY AVAILABLE */
.roboto {
  font-family: 'Roboto', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

.space-mono {
  font-family: 'Space Mono', monospace;
}

.staatliches{
  font-family: 'Staatliches', cursive;
}
