.drawer__list {
  font-size: var(--fs-xxs-2);
  list-style: none;
}

.drawer__item {
  border-bottom-right-radius: var(--br-xs);
  border-top-right-radius: var(--br-xs);
  color: var(--dark);
  cursor: pointer;
  display: flex;
  font-weight: 600;
  padding: var(--pd-sm);
  transition: 0.2s ease-in;
}

.drawer__item:hover {
  background-color: var(--blue-1);
}

.drawer__item--active {
  color: var(--primary);
}

.drawer__item--icon {
  margin-right: var(--space-sm);
}

.list__subheading {
  color: var(--grey-4);
  font-size: var(--fs-xxs-1);
  margin-top: var(--space-sm);
  padding: var(--pd-sm);
  text-transform: uppercase;
}

/* LARGE ICONS */
.dw__lgicon .drawer__item {
  align-items: center;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  padding: var(--pd-sm);
  width: 100%;
}

.dw__lgicon .drawer__item--icon {
  margin-right: 0;
}

/* ROUND ITEMS */
.dr__rounditem .drawer__item {
  border-bottom-right-radius: var(--br-xxxl);
  border-top-right-radius: var(--br-xxxl);
}