.drawer {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 255px;
}

.drawer-title {
  padding: 1.1rem;
  padding-bottom: 0px;
}

.drawer-title > h1 {
  font-size: 1.3rem;
  font-weight: 400;
}

.drawer-title > p {
  color: gray;
  font-size: 0.9rem;
  font-weight: 300;
}

ol {
  padding: 0.6rem;
}

.drawer-item {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin-top: 10px;
  padding: 0.5rem;
}

.drawer-item:hover {
  background-color: rgba(223, 223, 223, 0.5);
}

.drawer-item img {
  height: 24px;
  width: 24px;
}

.drawer-item p {
  font-size: 0.9rem;
  margin-left: 35px;
}

.item-active {
  background-color: rgba(229, 213, 252, 0.7);
  color: #6200ee;
}

.item-active:hover {
  background-color: rgba(229, 213, 252, 1);
}

.permanent-wrapper {
  border: 2px solid black;
  display: flex;
  height: 404px;
  min-width: 404px;
  overflow: hidden;
  width: 70%;
}

.permanent-wrapper .drawer {
  border-right: 1px solid rgba(229, 213, 252, 1);
  box-shadow: none;
  flex-shrink: 0;
  height: auto;
}

.permanent-wrapper .drawer-title {
  padding-bottom: 5px;
}

.permanent-wrapper .drawer-content {
  overflow-y: scroll;
}

.permanent-wrapper .drawer ol:nth-child(1) {
  border-bottom: 1px solid rgba(229, 213, 252, 1);
  padding-top: 0px;
}

.label {
  color: gray;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 1rem;
  padding-bottom: 0px;
}

.permanent-wrapper .drawer ol:nth-child(3) {
  border-bottom: 1px solid rgba(229, 213, 252, 1);
  padding-top: 0px;
}

.permanent-wrapper .drawer ol:nth-child(4) {
  padding-top: 0px;
}

.main-body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.main-body h1 {
  background-color: #6200ee;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  overflow: hidden;
  padding: 0.8rem 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-body p {
  background-color: white;
  padding: 1rem;
}

.main__body-header {
  align-items: center;
  background-color: #6200ee;
  color: white;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main__body-header i {
  cursor: pointer;
  border-radius: 100px;
  padding: 1rem;
}

.main__body-header i:hover {
  background-color: rgba(256, 256, 256, 0.1);
}

#drawer-el {
  display: none;
}

.modal-drawer {
  position: relative;
}

/* .modal_wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  width: 100vw;
} */
