.card {
  background-color: white;
  border-radius: var(--br-sm);
  box-shadow: var(--bs-xs);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  width: 350px;
  position: relative;
}

.card:hover {
  box-shadow: var(--bs-sm);
}

.card__body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__body:hover {
  background-color: var(--grey-1);
  cursor: pointer;
}

.card__img {
  background-size: cover;
  border-top-left-radius: var(--br-sm);
  border-top-right-radius: var(--br-sm);
  width: 100%;
}

.card__title {
  padding: var(--pd-sm);
  padding-top: var(--space-sm);
}

.card__title .caption {
  font-size: var(--fs-xs-1);
  color: var(--grey-4);
}

.card__content {
  color: var(--grey-5);
  font-size: var(--fs-xs-1);
  font-weight: 300;
  padding: var(--pd-sm);
}

.card__button {
  padding: var(--pd-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card__button .button {
  width: 100%;
}

.card__footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--pd-xs);
  border-top: 1px solid var(--grey-1);
}

.card__footer--left {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--grey-1);
}

.card__footer .card__button {
  padding: 0 var(--space-md);
}

.card__footer--right {
  display: flex;
  flex: 3;
  justify-content: space-evenly;
}

.card__footer--right > a {
  align-items: center;
  border-radius: var(--br-xxxl);
  cursor: pointer;
  display: flex;
  padding: var(--space-xs);
}

.card__footer--right > a:hover {
  background-color: var(--grey-1);
  border: none;
}

/* TITLE OVER IMAGE */
.card__toimg .card {
  position: relative;
}

.card__toimg .card__title {
  color: white;
  position: absolute;
  padding-top: 0px;
  top: 18px;
}

.card__toimg .card__title--p {
  color: white;
}


/* SOCIAL MEDIA */
.card__socialmedia .card__img {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.card__socialmedia .card__body:hover {
  background-color: initial;
}

.card__socialmedia .card__title {
  display: flex;
  background: none;
  cursor: initial;
  align-items: center;
}

.card__socialmedia .card__title--content {
  margin: 0px var(--space-sm);
}

.card__socialmedia .card__content:hover {
  background-color: #e0e0e0;
}

.card__socialmedia .card__footer--left {
  color: var(--grey-4);
}

.card__socialmedia .card__title--h1 {
  font-size: var(--fs-xs-2);
}

.card__socialmedia .card__title--icon {
  margin-left: auto;
  align-items: center;
  border-radius: var(--br-xxxl);
  cursor: pointer;
  display: flex;
  padding: var(--space-xs);
}

.card__socialmedia .card__title--icon:hover {
  background-color: var(--grey-1);
  border: none;
}

/* IMAGE BACKGROUND */
.card__imgbg .card__img {
  border-radius: var(--br-sm);
}

.card__imgbg .card__body {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__imgbg .card__body:hover {
  background-color: initial;
  cursor: pointer;
}

.card__imgbg .card__footer--right > a:hover {
  background-color: var(--dark);
  border: none;
}

.card__imgbg .card__title--p {
  color: white;
}

.card__imgbg .card__footer {
  border-top: none;
}

.card__imgbg .card__footer--left {
  flex: 2;
  border-right: none;
  justify-content: flex-start;
  margin-left: var(--space-sm);
}

.card__imgbg .card__footer--right {
  flex: 3;
}