.toast {
  align-items: center;
  background-color: white;
  border: 1px solid var(--dark);
  color: var(--dark);
  display: flex;
  font-size: 0.85rem;
  font-weight: 300;
  position: relative;
  width: min(600px, 90%);
}

.toast__content {
  flex-shrink: 1;
  margin-left: 10px;
}

.toast__icon {
  padding: 2rem;
  box-sizing: content-box;
}

.toast__close {
  margin: 0px 15px;
  box-sizing: content-box;
}

.toast__button, .toast__close {
  cursor: pointer;
  flex-shrink: 0;
  padding: 2rem 0.5rem;
}

.toast__icon--btn {
  margin-left: auto;
  cursor: pointer;
}

.toast__button {
  color: var(--dark);
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: auto;
}

.toast-wrapper {
  position: relative;
}

/* BASIC */
.toast__basic {
  justify-content: center;
  background-color: var(--light);
}

.toast__basic .toast__content{
  justify-content: center;
  padding: 2rem;
  margin-left: 0px;
}

/* INPUT */
.toast__input .toast__content--input{
  width: 100%;
}

.toast__input .toast__close {
  margin-left: auto;
}

/* STACKED */
.toast__stacked {
  align-items: flex-start;
  flex-direction: column;
}

.toast__stacked .toast__content {
  font-size: 0.9rem;
  flex-basis: 100%;
  padding: 1rem;
}

.toast__button--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}

.toast__stacked .toast__content {
  margin-left: 0;
}

.toast__button--wrapper .toast__button {
  margin-left: 0px;
  padding: 0.5rem 1rem;
}

.toast__button--wrapper .toast__button:hover {
  background-color: var(--tertiary);
}

/* DANGER */
.tst--danger {
  border: 1px solid var(--danger);
}

.tst--danger .toast__icon {
  background-color: var(--danger);
}

.tst--danger .toast__button {
  color: var(--danger);
}

.tst--danger .toast__button--wrapper .toast__button:hover {
  background-color: var(--danger-light);
}

/* SUCCESS */
.tst--success {
  border: 1px solid var(--success-dark);
}

.tst--success .toast__icon {
  background-color: var(--success);
}

.tst--success .toast__button {
  color: var(--success-dark);
}

.tst--success .toast__button--wrapper .toast__button:hover {
  background-color: var(--success-light);
}

/* PRIMARY */
.tst--primary {
  border: 1px solid var(--primary);
}

.tst--primary .toast__icon {
  background-color: var(--primary);
}

.tst--primary .toast__button {
  color: var(--primary);
}

.tst--primary .toast__button--wrapper .toast__button:hover {
  background-color: var(--primary-light);
}

/* INFO */
.tst--info {
  border: 1px solid var(--info);
}

.tst--info .toast__icon {
  background-color: var(--info);
}

.tst--info .toast__button {
  color: var(--info-dark);
}

.tst--info .toast__button--wrapper .toast__button:hover {
  background-color: var(--info-light);
}
